.headOMF {

    .logo-and-arrow-OMF {
        background-color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .location {
        display: flex;
        justify-content: center;
        background-color: #efecec;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 1px;
        font-size: 16px;
        color: #353535;


        .fa-location-dot {
            margin-right: 5px;
            color: #353535;
        }
    }
}

.logo-and-arrow-OMFR {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .arrow-OMF {
        position: absolute;
        left: 20px;
        display: flex;
        align-items: center;

        i {
            color: black;
            font-size: 20px;
        }
    }
}