.location {
        display: flex;
        justify-content: center;
        background-color: #efecec;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 1px;
        font-size: 16px;
        color: #353535;


        .fa-location-dot {
            margin-right: 5px;
            color: #353535;
        }
    }